if session.passport
  span #{session.passport.user.username}
  form(method="POST")
    button(class="btn btn-outline-warning btn-sm" type="submit" formaction="/logout") logout
  a(href="/postProduct") Sell a Product
  br
  a(href="/payments") Payments
  br
a(href="/products" id="hr") View Products
br
a(href="/categories" id="hr") View Categories
br
a(href="/cart" id="hr") View Cart
