if session.passport
  span #{session.passport.user.username}
  form(method="POST")
    button(type="submit" formaction="/logout") logout
  a(href="http://localhost:5000/postProduct" id="hr") Sell a Product
  br
  a(href="http://localhost:5000/products" id="hr") View Products
  br
  a(href="http://localhost:5000/categories" id="hr") View Categories
  
