extends index.pug

block content
  h3 Add Product to Sell
  form(action="/postProduct", method="POST")
    .form-group 
      label(for="title") Title:
      input(class="form-control" type="string", name="title")
    .form-group 
      label(for="quantity") Quantity:
      input(class="form-control" type="string", name="quantity")
    .form-group 
      label(for="price") Price:
      input(class="form-control" type="string", name="price") 
    .form-group 
      label(for="category") Category:
        select(class="selectval btn btn-secondary dropdown-toggle", name="selectval")
          each category in categories
            option(value=category.id) #{category.name}
    button(class="btn btn-outline-success" type="submit") Sell