extends index.pug

block content
  h1 Cart!
  ul
    each product in products
      -let url = `http://localhost:5000/products/` + product.id
      a(href=url) #{product.title}
      p $#{product.price}.00
      ul
        //- each payment in payments
        //- button(type="submit") Edit

