extends index.pug

block content
  h3 Plese select a method of payment:
  form(action="/complete-order", method="POST")
    label(for="payment")
      select(class="selectval btn btn-info dropdown-toggle", name="selectval")
        each payment in payments
          option(value=payment.id) #{payment.cardNickname}
      br    
    br
    button(class="btn btn-success" type="submit") Complete Order