extends index.pug

block content
  h3 
    label(for="title") #{product.title}
  label(for="price") $#{product.price}.00
  br
  label(for="quantity") Quantity: #{product.quantity}   
  form(action=`/cart/${product.id}`, method="POST")
    button(class="btn btn-outline-warning btn-sm" type="submit") Add to cart
